# profile
SPRING_PROFILES_ACTIVE=local

# mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USERNAME=
MYSQL_PASSWORD=
# db
USER_DB=user-service

# redis
REDIS_HOST=redis
REDIS_PORT=6379

# jpa
JPA_HIBERNATE_DDL_AUTO=create

# log
LOGGING_LEVEL_PROJECT=DEBUG
LOGGING_LEVEL_HIBERNATE_SQL=DEBUG
LOGGING_LEVEL_HIBERNATE_JDBC=TRACE

# ---

# gateway
USER_URI=http://user-service:8080

# auth
# x-header, jwt-token
AUTH_MODE=jwt-token

AUTH_JWT_GRANT_TYPE=
AUTH_JWT_SECRET_KEY=
# ms 기준
AUTH_JWT_ACCESS_EXP=
AUTH_JWT_REFRESH_EXP=

AUTH_ALLOWED_STATUSES=ACTIVE
AUTH_EXCLUDED_PATTERNS=/actuator/health,/**/*.html,/user/auth/**,/user/oauth2/**

# oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8080/user/oauth2/callback/google

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=http://localhost:8080/user/oauth2/callback/naver

# security-core
GITHUB_OWNER=hyuns2
GITHUB_REPOSITORY=playground-auth
GITHUB_USERNAME=
GITHUB_TOKEN=
